body{
    background-color: black;
}

.box{
    padding: 20px;
    margin: auto;
    background-color: rgb(201, 201, 201);
    width: 400px;
    height: 340px;
    border-radius: 5px;
    box-shadow: 4px 4px rgb(255, 255, 255, 0.548);
}

.marginBox{
    margin-bottom: 14px;
}

input{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 7px;
}

textarea{
    width: 100%;
    padding-bottom: 80px;
    border: 1px solid black;
    border-radius: 5px;
}

label{
    display: block;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 3px;
}

.botao{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(60, 68, 68, 0.281);
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 1px 1px rgba(60, 68, 68, 0.11)
}

.botao:hover{
    background-color: rgb(51, 54, 53);
    color: rgb(192, 192, 192);
    cursor: pointer;
}